
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF; 
  color: #0a1f44; 
  z-index: 3000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.logo {
  color: #0a1f44; 
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
}


.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 4000;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #0a1f44; 
  margin: 5px 0;
  border-radius: 4px;
  transition: 0.4s;
}


.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}


.menu {
  position: fixed;
  top: 65px;
  right: 0;
  width: 100%;
  height: calc(100vh - 65px);
  background:#0a1f44; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 2500;
}


.menu.show {
  transform: translateX(0);
}


.menu a {
  color:#FFFF;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
}

.menu a:hover {
  color: #ff7f50; 
  transform: scale(1.05);
}

/* RESPONSIVE TEXT */
@media (min-width: 1024px) {
  .menu a {
    font-size: 1.8rem;
  }
}
